# Base URL of the agileassets instance
BASE_URL=

# Account with Admin privileges required
USERNAME=
PASSWORD=

# Created via the request_client.py script using the above username/password
CLIENT_ID='API_VIEWER'
CLIENT_SECRET=
